Repository tadhglewis/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "prettier --write",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

fix: failed status translation
  src/translations/Messages_fr_FR.xml
Due: none

fix(i18n): submit
  src/translations/Messages_cs_CZ.xml
  src/translations/Messages_de_DE.xml
  src/translations/Messages_en_ASIA.xml
  src/translations/Messages_en_AU.xml
  src/translations/Messages_en_CA.xml
  src/translations/Messages_en_GB.xml
  src/translations/Messages_en_SG.xml
  src/translations/Messages_en_US.xml
  src/translations/Messages_es_ES.xml
  src/translations/Messages_es_US.xml
  src/translations/Messages_fi_FI.xml
  src/translations/Messages_fr_CA.xml
  src/translations/Messages_it_IT.xml
  src/translations/Messages_lt_LT.xml
  src/translations/Messages_nl_NL.xml
  src/translations/Messages_pl_PL.xml
  src/translations/Messages_pt_PT.xml
Due: none

1.1.1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix: get informations from API for available mean types
  src/payment-method-legacy.js
Due: prettier --write

fix: US available payment mean
  src/payment-method.constant.js
Due: prettier --write

1.1.2
  CHANGELOG.md
  package.json
Due: npx sort-package-json

1.1.3
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix(legacy.us): transform paymentType for POST
  src/payment-method-legacy.js
Due: prettier --write

1.1.4
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix: set null as post param for set default leagacy mean
  src/payment-method-legacy.js
Due: prettier --write

build(deps): upgrade ng-translate-async-loader to v2.0.0 (#41)
  package.json
  rollup.config.js
  src/index.js
  yarn.lock
Due: prettier --write, npx sort-package-json

2.0.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix: add blocked for incidents translation
  src/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve
  src/translations/Messages_cs_CZ.xml
  src/translations/Messages_de_DE.xml
  src/translations/Messages_en_ASIA.xml
  src/translations/Messages_en_AU.xml
  src/translations/Messages_en_CA.xml
  src/translations/Messages_en_GB.xml
  src/translations/Messages_en_SG.xml
  src/translations/Messages_en_US.xml
  src/translations/Messages_es_ES.xml
  src/translations/Messages_es_US.xml
  src/translations/Messages_fi_FI.xml
  src/translations/Messages_fr_CA.xml
  src/translations/Messages_it_IT.xml
  src/translations/Messages_lt_LT.xml
  src/translations/Messages_nl_NL.xml
  src/translations/Messages_pl_PL.xml
  src/translations/Messages_pt_PT.xml
Due: none

feat: available payment method types (#50)
  package.json
  src/availableTypes/availableTypes.component.js
  src/availableTypes/availableTypes.constants.js
  src/availableTypes/availableTypes.controller.js
  src/availableTypes/availableTypes.html
  src/index.js
  src/payment-method-helper.service.js
  src/payment-method-legacy.js
  src/payment-method.service.js
  yarn.lock
Due: htmlhint 'packages/**/*.html', prettier --write, npx sort-package-json

2.0.1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix: fallback to col-md-x for bs3 grid compatibility
  src/availableTypes/availableTypes.html
Due: htmlhint 'packages/**/*.html'

2.1.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

2.1.1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

2.2.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

feat: add fallback image when none in API
  package.json
  src/availableTypes/assets/bank_account.png
  src/availableTypes/assets/credit_card.png
  src/availableTypes/assets/paypal.png
  src/availableTypes/availableTypes.constants.js
  src/availableTypes/availableTypes.controller.js
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(component): allow control of selected type outside of component
  src/availableTypes/availableTypes.component.js
  src/availableTypes/availableTypes.controller.js
  src/availableTypes/availableTypes.html
Due: htmlhint 'packages/**/*.html', prettier --write

fix(component): improve responsive
  src/availableTypes/availableTypes.html
Due: htmlhint 'packages/**/*.html'

3.0.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

3.0.1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix: pay order when adding payment method
  package.json
  src/payment-method.service.js
Due: prettier --write, npx sort-package-json

3.1.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

feat(component): add onSelect callback
  src/availableTypes/availableTypes.component.js
  src/availableTypes/availableTypes.controller.js
  src/availableTypes/availableTypes.html
Due: htmlhint 'packages/**/*.html', prettier --write

feat: add payment challenge (#76)
  src/payment-method-legacy.js
  src/payment-method.service.js
Due: prettier --write

3.2.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

build: upgrade some devDependencies
  package.json
  yarn.lock
Due: npx sort-package-json

build(package.json): sort package.json entries
  package.json
Due: npx sort-package-json

build(rollup): add esm output
  package.json
  rollup.config.js
Due: prettier --write, npx sort-package-json

build(lint): add eslint-plugin-markdown dependency
  .eslintrc.json
  README.md
  package.json
  yarn.lock
Due: npx sort-package-json

build(lint): add eslint-formatter-pretty
  package.json
  yarn.lock
Due: npx sort-package-json

build(lint): run scripts in parallel
  package.json
  yarn.lock
Due: npx sort-package-json

feat(vantiv): manage vantiv iframe intergration (#80)
  .eslintrc.json
  src/components/availableTypes/assets/bank_account.png
  src/components/availableTypes/assets/credit_card.png
  src/components/availableTypes/assets/paypal.png
  src/components/availableTypes/availableTypes.component.js
  src/components/availableTypes/availableTypes.constants.js
  src/components/availableTypes/availableTypes.controller.js
  src/components/availableTypes/availableTypes.html
  src/components/availableTypes/index.js
  src/components/availableTypes/index.scss
  src/components/index.js
  src/components/register/component.js
  src/components/register/controller.js
  src/components/register/iframeVantiv/constants.js
  src/components/register/iframeVantiv/controller.js
  src/components/register/iframeVantiv/directive.js
  src/components/register/iframeVantiv/index.js
  src/components/register/iframeVantiv/instance.class.js
  src/components/register/index.html
  src/components/register/index.js
  src/components/register/instance.class.js
  src/index.js
  src/payment-method-legacy.js
  src/payment-method.constant.js
  src/payment-method.service.js
Due: htmlhint 'packages/**/*.html', prettier --write

build(package.json): add some meta keywords
  package.json
Due: npx sort-package-json

v3.3.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

build: bump ovh-api-services to v9.0.0
  package.json
Due: npx sort-package-json
