Repository tadhglewis/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "prettier --write",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

refactor(hosting.sql-database.order): update with oui components
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.component.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.controller.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.html
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.routing.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/translations/Messages_fr_FR.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: htmlhint 'packages/**/*.html', prettier --write, npx sort-package-json

feat(hosting.sql-database.order): todo use orderCart api
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.component.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.constant.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.controller.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.html
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.module.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.routing.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.service.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/translations/Messages_fr_FR.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: htmlhint 'packages/**/*.html', prettier --write, npx sort-package-json

feat(dedicated): add IPLB
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/package.json
Due: prettier --write, npx sort-package-json

feat(cuc): add accordian and advanced options components
  packages/manager/modules/cloud-universe-components/src/cui/accordion/controller.js
  packages/manager/modules/cloud-universe-components/src/cui/accordion/directive.js
  packages/manager/modules/cloud-universe-components/src/cui/accordion/index.js
  packages/manager/modules/cloud-universe-components/src/cui/accordion/index.less
  packages/manager/modules/cloud-universe-components/src/cui/accordion/list/component.js
  packages/manager/modules/cloud-universe-components/src/cui/accordion/list/index.js
  packages/manager/modules/cloud-universe-components/src/cui/accordion/list/index.less
  packages/manager/modules/cloud-universe-components/src/cui/accordion/list/template.html
  packages/manager/modules/cloud-universe-components/src/cui/accordion/template.html
  packages/manager/modules/cloud-universe-components/src/cui/advanced-options/component.js
  packages/manager/modules/cloud-universe-components/src/cui/advanced-options/index.js
  packages/manager/modules/cloud-universe-components/src/cui/advanced-options/index.less
  packages/manager/modules/cloud-universe-components/src/cui/advanced-options/template.html
  packages/manager/modules/cloud-universe-components/src/cui/index.js
  packages/manager/modules/cloud-universe-components/src/index.js
Due: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix

fix(iplb): update IPLB
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: prettier --write

fix(cloud): remove IPLB references
  packages/manager/apps/cloud/client/app/app.less
Due: stylelint 'packages/**/*.less' --fix

feat(navbar.user-menu): redirect to user dasboard instead of form
  packages/manager/modules/navbar/src/user-menu/constants.js
Due: prettier --write

feat(order.service): add auto validation if order at 0
  packages/manager/apps/web/client/app/components/manager-order-service/manager-order-service.service.js
Due: prettier --write

refactor(dedicated.account.user): modularize dashboard
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dahboard.module.js
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/account/user/user.module.js
Due: prettier --write

fix(dedicated.account.user): remove shortcuts for some region
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.constants.js
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.routing.js
Due: prettier --write

feat: display standard and premium support levels for FR customers
  packages/manager/apps/dedicated/client/app/account/user/dashboard/user-dashboard.html
  packages/manager/apps/dedicated/client/app/account/user/support-level/SupportLevel.class.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.constants.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.controller.js
  packages/manager/apps/dedicated/client/app/account/user/support-level/support-level.html
  packages/manager/apps/dedicated/client/app/account/user/support-level/translations/Messages_fr_FR.json
  packages/manager/modules/navbar/src/assistance-menu/constants.js
  packages/manager/modules/navbar/src/assistance-menu/controller.js
Due: htmlhint 'packages/**/*.html', prettier --write

feat(pci): add black friday offer
  packages/manager/modules/pci/src/projects/new/new.controller.js
  packages/manager/modules/pci/src/projects/new/new.html
  packages/manager/modules/pci/src/projects/new/payment/credits/credits.html
  packages/manager/modules/pci/src/projects/new/payment/payment.html
  packages/manager/modules/pci/src/projects/new/payment/payment.scss
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', prettier --write

feat(pci.kube.nodes.add): get available flavors from api
  packages/manager/modules/pci/src/components/project/flavors-list/flavor.class.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service.js
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(pci.kubernetes.nodes): extract translation for adding a node
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/template.html
  packages/manager/modules/pci/src/projects/project/kubernetes/details/nodes/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html'

build: bump ovh-api-services to ^9.25.0
  packages/manager/apps/carrier-sip/package.json
  packages/manager/apps/cloud/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/enterprise-cloud-database/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sms/package.json
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom-task/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/veeam-enterprise/package.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web/package.json
  yarn.lock
Due: npx sort-package-json

feat(component): add an easter-eggs
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/assets/theme/dark/index.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_button.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_criteria.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_file.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_icons.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_input.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_link.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_message.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_navbar.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_page-header.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_pagination.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_sidebar.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_status.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_stepper.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_tabs.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_tile.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_typography.less
  packages/manager/apps/public-cloud/src/assets/theme/default/_variables.less
  packages/manager/apps/public-cloud/src/assets/theme/default/index.less
  packages/manager/apps/public-cloud/src/components/easter-eggs/easter-eggs.component.js
  packages/manager/apps/public-cloud/src/components/easter-eggs/easter-eggs.constants.js
  packages/manager/apps/public-cloud/src/components/easter-eggs/easter-eggs.controller.js
  packages/manager/apps/public-cloud/src/components/easter-eggs/index.js
  packages/manager/apps/public-cloud/src/components/easter-eggs/modal/controller.js
  packages/manager/apps/public-cloud/src/components/easter-eggs/modal/template.html
  packages/manager/apps/public-cloud/src/components/easter-eggs/modal/translations/Messages_en_GB.json
  packages/manager/apps/public-cloud/src/components/easter-eggs/modal/translations/Messages_fr_FR.json
  packages/manager/apps/public-cloud/src/components/manager-preload/manager-preload.less
  packages/manager/apps/public-cloud/src/index.html
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/modules/pci/src/projects/project/analytics-data-platform/onboarding/assets/analytics-data-platform.png
  yarn.lock
Due: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix, npx sort-package-json

build: drop Node.js 8 and 10 support
  package.json
Due: npx sort-package-json

feat(veeam): move veeam from cloud to dedicated
  packages/manager/apps/cloud/client/app/app.js
  packages/manager/apps/cloud/client/app/app.less
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/veeam/src/routing.js
  packages/manager/modules/veeam/src/storage/add/veeam-storage-add.controller.js
  packages/manager/modules/veeam/src/template.html
Due: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix, npx sort-package-json

feat(components): add order components
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/index.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.component.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.constants.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.controller.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.html
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/index.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.component.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.controller.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.html
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-payment-means/index.js
  packages/manager/apps/web/client/app/components/manager-order-payment-means/manager-order-payment-means.component.js
  packages/manager/apps/web/client/app/components/manager-order-payment-means/manager-order-payment-means.controller.js
  packages/manager/apps/web/client/app/components/manager-order-payment-means/manager-order-payment-means.html
  packages/manager/apps/web/client/app/components/manager-order-payment-means/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-service/manager-order-service.service.js
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting): replace wuc-ovh-tabs with oui-header-tabs
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.component.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.constants.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.controller.js
  packages/manager/apps/web/client/app/hosting/hosting-tabs.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.html
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting): update hosting to new pattern
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.module.js
  packages/manager/apps/web/client/app/hosting/hosting.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/website-coach/website-coach.component.js
  packages/manager/apps/web/client/app/hosting/website-coach/website-coach.html
  packages/manager/apps/web/client/app/hosting/website-coach/website-coach.routing.js
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting.cdn): update cdn to new pattern
  packages/manager/apps/web/client/app/hosting/cdn/flush/hosting-cdn-flush.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/flush/hosting-cdn-flush.module.js
  packages/manager/apps/web/client/app/hosting/cdn/hosting-cdn.modules.js
  packages/manager/apps/web/client/app/hosting/cdn/hosting-cdn.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.component.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.module.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/terminate/hosting-cdn-terminate.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/terminate/hosting-cdn-terminate.module.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
Due: htmlhint 'packages/**/*.html', prettier --write

feat(hosting.cdn.order): update wizard modal to a page
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.component.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/order/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/hosting-tabs.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/order/hosting-order-option.js
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting): merge tabs controller to main controller
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.module.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/hosting-tabs.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
Due: htmlhint 'packages/**/*.html', prettier --write

feat(web): add cart service option methods in order service
  packages/manager/apps/web/client/app/components/manager-order-service/manager-order-service.service.js
  packages/manager/apps/web/package.json
Due: prettier --write, npx sort-package-json

fix: disable eslint errors temporarely
  packages/manager/apps/cloud/client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  packages/manager/modules/cloud-universe-components/src/autocomplete/controller.js
  packages/manager/modules/nasha/src/partition/access/controller.js
  packages/manager/modules/nasha/src/partition/add/controller.js
  packages/manager/modules/nasha/src/partition/controller.js
  packages/manager/modules/nasha/src/partition/custom-snapshot/add/controller.js
  packages/manager/modules/nasha/src/partition/delete/controller.js
  packages/manager/modules/nasha/src/partition/snapshot/controller.js
  packages/manager/modules/nasha/src/partition/update/controller.js
Due: prettier --write

refactor(domain): split domain as a module
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/domain/domain.controller.js
  packages/manager/apps/web/client/app/domain/domain.html
  packages/manager/apps/web/client/app/domain/domain.routing.js
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/index.js
Due: htmlhint 'packages/**/*.html', prettier --write

feat(domain): retrieve correct associated hostings and subdomains
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/domain/domain.constant.js
  packages/manager/apps/web/client/app/domain/domain.controller.js
  packages/manager/apps/web/client/app/domain/domain.routing.js
  packages/manager/apps/web/client/app/domain/domain.service.js
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.state.js
  packages/manager/apps/web/client/app/domain/index.js
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/webhosting/domain-webhosting.html
  packages/manager/apps/web/client/app/domain/webhosting/domain-webhosting.routing.js
  packages/manager/apps/web/client/app/domain/webhosting/order/domain-webhosting-order.routing.js
Due: htmlhint 'packages/**/*.html', prettier --write
