Repository tadhglewis/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "prettier --write",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

v4.0.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

feat: add method to determine if contactId is required (#87)
  src/payment-method.service.js
Due: prettier --write

refactor(legacy.us): depreciate legacy paymentMethod calls in US (#88)
  src/payment-method-legacy.js
Due: prettier --write

v4.1.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

docs: remove CODE_OF_CONDUCT.md file. (#93)
  CODE_OF_CONDUCT.md
Due: none

feat(vantiv): add ThreatMetric tags insertion (#92)
  src/components/register/iframeVantiv/constants.js
  src/components/register/iframeVantiv/controller.js
  src/components/register/iframeVantiv/directive.js
  src/components/register/iframeVantiv/instance.class.js
Due: prettier --write

v4.2.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

build(ng-ovh-payment-method): remove extra parts
  .commitlintrc.json
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .npmrc
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: npx sort-package-json

build(translations): move from XML to JSON format
  src/index.js
  src/translations/Messages_cs_CZ.json
  src/translations/Messages_cs_CZ.xml
  src/translations/Messages_de_DE.json
  src/translations/Messages_de_DE.xml
  src/translations/Messages_en_ASIA.xml
  src/translations/Messages_en_AU.xml
  src/translations/Messages_en_CA.xml
  src/translations/Messages_en_GB.json
  src/translations/Messages_en_GB.xml
  src/translations/Messages_en_SG.xml
  src/translations/Messages_en_US.xml
  src/translations/Messages_es_ES.json
  src/translations/Messages_es_ES.xml
  src/translations/Messages_es_US.json
  src/translations/Messages_es_US.xml
  src/translations/Messages_fi_FI.json
  src/translations/Messages_fi_FI.xml
  src/translations/Messages_fr_CA.json
  src/translations/Messages_fr_CA.xml
  src/translations/Messages_fr_FR.json
  src/translations/Messages_fr_FR.xml
  src/translations/Messages_it_IT.json
  src/translations/Messages_it_IT.xml
  src/translations/Messages_lt_LT.json
  src/translations/Messages_lt_LT.xml
  src/translations/Messages_nl_NL.xml
  src/translations/Messages_pl_PL.json
  src/translations/Messages_pl_PL.xml
  src/translations/Messages_pt_PT.json
  src/translations/Messages_pt_PT.xml
Due: prettier --write

fix(i18n): add missing translations [CDS 101]
  src/translations/Messages_es_ES.json
Due: none

docs: refers to the root CONTRIBUTING.md file (#1460)
  README.md
Due: none

Release: thorium-grasshopper
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix(ng-ovh-payment-method): errors with other implementation
  src/components/integration/controller.js
  src/components/integration/directive.js
  src/components/integration/inContext/paypal/controller.js
  src/components/integration/index.html
  src/components/integration/redirect/component.js
  src/components/integration/redirect/index.html
  src/components/register/controller.js
  src/index.js
Due: htmlhint 'packages/**/*.html', prettier --write

fix(deps): upgrade @ovh-ux/component-rollup-config to v7.0.0 (#1469)
  package.json
Due: npx sort-package-json

fix(i18n): add missing translations [CDS 104]
  src/translations/Messages_it_IT.json
Due: none

fix(i18n): add missing translations [CDS 105]
  src/translations/Messages_pl_PL.json
Due: none

fix(server.sidebar): hide VPS section for US customer (#1481)
  src/sidebar.constants.js
Due: prettier --write

Release: thorium-grasshopper-1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

build: upgrade dependencies
  package.json
Due: npx sort-package-json

fix(server.sidebar): update order constants (#1492)
  src/order.constants.js
Due: prettier --write

Release: lanthanum-ant-1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

feat(vps): add vps order link
  src/order.constants.js
Due: prettier --write

feat(order-tracking): add order-tracking component
  LICENSE
  README.md
  package.json
  rollup.config.js
  src/index.js
  src/index.scss
  src/order-tracking.component.js
  src/order-tracking.controller.js
  src/order-tracking.html
  src/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', prettier --write, npx sort-package-json

feat(web): create component to expose order cart method
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/components/order-service/order-service.service.js
Due: prettier --write

refactor(support): rewrite issue form component
  packages/manager/modules/support/src/tickets/new-ticket/creation-form/creation-form.component.js
  packages/manager/modules/support/src/tickets/new-ticket/creation-form/creation-form.html
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/issues-form.component.js
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/issues-form.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/issues-form.html
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/issues-form.service.js
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/resources/resources.component.js
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/resources/resources.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/resources/resources.html
  packages/manager/modules/support/src/tickets/new-ticket/issues-form/resources/resources.less
  packages/manager/modules/support/src/tickets/new-ticket/issues-selector/issues-selector.component.js
  packages/manager/modules/support/src/tickets/new-ticket/issues-selector/issues-selector.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/issues-selector/issues-selector.html
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.component.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.controller.js
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.html
  packages/manager/modules/support/src/tickets/new-ticket/new-ticket.module.js
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix

fix(cloud): content-language header
  packages/manager/modules/core/src/translate/translate.factory.js
Due: prettier --write

feat(components): add order components
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/index.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.component.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.constants.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.controller.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.html
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-contracts/index.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.component.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.controller.js
  packages/manager/apps/web/client/app/components/manager-order-contracts/manager-order-contracts.html
  packages/manager/apps/web/client/app/components/manager-order-contracts/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-payment-means/index.js
  packages/manager/apps/web/client/app/components/manager-order-payment-means/manager-order-payment-means.component.js
  packages/manager/apps/web/client/app/components/manager-order-payment-means/manager-order-payment-means.controller.js
  packages/manager/apps/web/client/app/components/manager-order-payment-means/manager-order-payment-means.html
  packages/manager/apps/web/client/app/components/manager-order-payment-means/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/manager-order-service/manager-order-service.service.js
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting): replace wuc-ovh-tabs with oui-header-tabs
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.component.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.constants.js
  packages/manager/apps/web/client/app/components/manager-order-catalog-price/manager-order-catalog-price.controller.js
  packages/manager/apps/web/client/app/hosting/hosting-tabs.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.html
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting.cdn): update cdn to new pattern
  packages/manager/apps/web/client/app/hosting/cdn/flush/hosting-cdn-flush.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/flush/hosting-cdn-flush.module.js
  packages/manager/apps/web/client/app/hosting/cdn/hosting-cdn.modules.js
  packages/manager/apps/web/client/app/hosting/cdn/hosting-cdn.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.component.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.module.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/terminate/hosting-cdn-terminate.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/terminate/hosting-cdn-terminate.module.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting): update hosting to new pattern
  packages/manager/apps/web/client/app/app.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/general-informations.module.js
  packages/manager/apps/web/client/app/hosting/hosting.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/website-coach/website-coach.component.js
  packages/manager/apps/web/client/app/hosting/website-coach/website-coach.html
  packages/manager/apps/web/client/app/hosting/website-coach/website-coach.routing.js
Due: htmlhint 'packages/**/*.html', prettier --write

feat(hosting.cdn.order): update wizard modal to a page
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.component.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/order/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/hosting-tabs.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/order/hosting-order-option.js
Due: htmlhint 'packages/**/*.html', prettier --write

refactor(hosting): merge tabs controller to main controller
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.module.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/hosting-tabs.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
Due: htmlhint 'packages/**/*.html', prettier --write

feat(web): add cart service option methods in order service
  packages/manager/apps/web/client/app/components/manager-order-service/manager-order-service.service.js
  packages/manager/apps/web/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(hosting.cdn.order): use orderCart api for ordering cdn
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.component.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.controller.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.html
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.module.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.routing.js
  packages/manager/apps/web/client/app/hosting/cdn/order/hosting-cdn-order.service.js
  packages/manager/apps/web/client/app/hosting/cdn/order/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.controller.js
  packages/manager/apps/web/client/app/hosting/hosting.routes.js
  packages/manager/apps/web/client/app/hosting/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', prettier --write

feat(dedicated): add vrack
  packages/manager/apps/dedicated/client/app/app.js
  packages/manager/apps/dedicated/package.json
Due: prettier --write, npx sort-package-json

fix(server-sidebar): update vrack
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
Due: prettier --write

feat(cloud): redirect legacy routes
  packages/manager/apps/cloud/client/app/app.js
Due: prettier --write

feat(hosting.sql-database.order): prepare sql database order in hosting
  packages/manager/apps/web/client/app/hosting/database/DATABASE_LIST.html
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/hosting.module.js
  packages/manager/apps/web/client/app/hosting/sql-database/hosting-sql-database.module.js
  packages/manager/apps/web/client/app/hosting/sql-database/hosting-sql-database.routing.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.component.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.controller.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.html
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.module.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/hosting-sql-database-order.routing.js
  packages/manager/apps/web/client/app/hosting/sql-database/order/translations/Messages_fr_FR.json
Due: htmlhint 'packages/**/*.html', prettier --write
