Repository tadhglewis/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'packages/**/*.html', prettier --write, stylelint 'packages/**/*.less' --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'packages/**/*.html'"
  ],
  "*.js": [
    "prettier --write",
    "git add"
  ],
  "*.less": [
    "stylelint 'packages/**/*.less' --fix",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "remark -qf ."
  ],
  "**/package.json": [
    "npx sort-package-json",
    "git add"
  ]
}

feat(navabr.assistance-menu): add ink to support level section
  src/assistance-menu/constants.js
  src/assistance-menu/controller.js
  src/assistance-menu/template.html
  src/service.js
Due: htmlhint 'packages/**/*.html', prettier --write

build: upgrade devDependencies (minor/pach)
  package.json
Due: npx sort-package-json

fix(server-sidebar): enterprise cloud database addition
  package.json
  src/sidebar.constants.js
  src/translations/Messages_fr_FR.json
Due: prettier --write, npx sort-package-json

Release: neodymium-butterfly
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix(server-sidebar): enterprise cloud database translation (#1417)
  src/translations/Messages_fr_FR.json
Due: none

Release: neodymium-butterfly-1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix(server-sidebar): display domain not belonging to user's alldom (#1424)
  src/web.constants.js
Due: prettier --write

Release: neodymium-butterfly-2
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix(i18n): add missing translations [CDS 96]
  src/translations/Messages_en_GB.json
  src/translations/Messages_fi_FI.json
  src/translations/Messages_fr_CA.json
  src/translations/Messages_lt_LT.json
Due: none

fix(i18n): add missing translations [CDS 98]
  src/translations/Messages_en_GB.json
  src/translations/Messages_fi_FI.json
  src/translations/Messages_lt_LT.json
Due: none

fix(i18n): add missing translations [CDS 99]
  src/translations/Messages_pt_PT.json
Due: none

docs(readme.usage): improve code snippet
  README.md
Due: none

Initial commit
  .commitlintrc.json
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitattributes
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .npmrc
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package.json
  rollup.config.js
  src/index.js
  src/payment-method.constant.js
  src/payment-method.provider.js
  src/payment-method.service.js
  src/translations/Messages_fr_FR.xml
  yarn.lock
Due: prettier --write, npx sort-package-json

docs: add .github folder
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: export module name (#3)
  src/index.js
Due: prettier --write

build(package.json): fix browser entry
  package.json
Due: npx sort-package-json

fix: apply eslint rules
  src/payment-method.service.js
Due: prettier --write

feat: add get available methods and new payment method
  package.json
  rollup.config.js
  src/index.js
  src/payment-method-helper.service.js
  src/payment-method-legacy.js
  src/payment-method.constant.js
  src/payment-method.provider.js
  src/payment-method.service.js
  yarn.lock
Due: prettier --write, npx sort-package-json

1.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix(package.json): add missing dependencies
  package.json
  src/index.js
  yarn.lock
Due: prettier --write, npx sort-package-json

fix: apply right prefix and use camelcase as module name
  src/index.js
Due: prettier --write

fix(provider): fix dependency injection
  src/payment-method.provider.js
Due: prettier --write

1.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: npx sort-package-json

refactor: rename module by adding missing ovh prefix
  CONTRIBUTING.md
  README.md
  package.json
Due: npx sort-package-json

1.0.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix: ignore tools folder
  .gitignore
Due: none

fix(i18n): retrieve
  src/translations/Messages_cs_CZ.xml
  src/translations/Messages_de_DE.xml
  src/translations/Messages_en_ASIA.xml
  src/translations/Messages_en_AU.xml
  src/translations/Messages_en_CA.xml
  src/translations/Messages_en_GB.xml
  src/translations/Messages_en_SG.xml
  src/translations/Messages_en_US.xml
  src/translations/Messages_es_ES.xml
  src/translations/Messages_es_US.xml
  src/translations/Messages_fi_FI.xml
  src/translations/Messages_fr_CA.xml
  src/translations/Messages_it_IT.xml
  src/translations/Messages_lt_LT.xml
  src/translations/Messages_nl_NL.xml
  src/translations/Messages_pl_PL.xml
  src/translations/Messages_pt_PT.xml
Due: none

fix(i18n): submit
  src/translations/Messages_fr_FR.xml
Due: none

fix: service injections
  src/payment-method.provider.js
Due: prettier --write

fix: remove non necessary accessible attributes
  src/payment-method.service.js
Due: prettier --write

feat: add new US payment method
  src/payment-method-legacy.js
  src/payment-method.constant.js
  src/payment-method.provider.js
  src/payment-method.service.js
  yarn.lock
Due: prettier --write

fix: provider injection
  src/payment-method.provider.js
Due: prettier --write

1.1.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

fix: open window for new payment method add
  src/payment-method.service.js
Due: prettier --write

fix: add missing informations
  package.json
  src/payment-method-legacy.js
  src/translations/Messages_fr_FR.xml
Due: prettier --write, npx sort-package-json

1.1.1-alpha.0
  CHANGELOG.md
  package.json
Due: npx sort-package-json

1.1.1-alpha.1
  CHANGELOG.md
  package.json
Due: npx sort-package-json
